* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}